@model Proje_oop.Entitiy.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Müşteri Güncelleme Sayfası</h1>

<form method="post">
    @Html.Label("Müşteri IDı ")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    </br>
    @Html.Label("Müşteri Adı ")
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Şehiri ")
    @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Müşteriyi Güncelle</button>
</form>