
@{
    ViewData["Title"] = "Urunler";
}
<a href="/Default/Index/">Index Sayfası</a> \n
<a href="/Default/Musteriler/">Musteriler Sayfası</a>
<h1>Urunler Sayfası </h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>toplam: @ViewBag.t</h3>
<h3>ÇEVRE: @ViewBag.C</h3>
<h4>Faktoriyelsonucu:@ViewBag.f</h4>
